<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="miembrosGrupo">
            <h2><span jhiTranslate="newoApp9MicroApp.miembrosGrupo.detail.title">Miembros Grupo</span> {{miembrosGrupo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp9MicroApp.miembrosGrupo.miembro">Miembro</span></dt>
                <dd>
                    {{miembrosGrupo.miembroLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/miembros-grupo', miembrosGrupo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
