<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reservas-heading" jhiTranslate="newoApp9MicroApp.reservas.home.createOrEditLabel">Create or edit a Reservas</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.reservas.registroFechaEntrada" for="field_registroFechaEntrada">Registro Fecha Entrada</label>
                    <div class="d-flex">
                        <input id="field_registroFechaEntrada" type="datetime-local" class="form-control" name="registroFechaEntrada" formControlName="registroFechaEntrada" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('registroFechaEntrada').invalid && (editForm.get('registroFechaEntrada').dirty || editForm.get('registroFechaEntrada').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('registroFechaEntrada').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('registroFechaEntrada').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.reservas.registroFechaSalida" for="field_registroFechaSalida">Registro Fecha Salida</label>
                    <div class="d-flex">
                        <input id="field_registroFechaSalida" type="datetime-local" class="form-control" name="registroFechaSalida" formControlName="registroFechaSalida" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('registroFechaSalida').invalid && (editForm.get('registroFechaSalida').dirty || editForm.get('registroFechaSalida').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('registroFechaSalida').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('registroFechaSalida').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.reservas.estadoReserva" for="field_estadoReserva">Estado Reserva</label>
                    <select class="form-control" name="estadoReserva" formControlName="estadoReserva" id="field_estadoReserva">
                        <option value="Disponible">{{'newoApp9MicroApp.EstadoReservad.Disponible' | translate}}</option>
                        <option value="Reservado">{{'newoApp9MicroApp.EstadoReservad.Reservado' | translate}}</option>
                        <option value="Ocupado">{{'newoApp9MicroApp.EstadoReservad.Ocupado' | translate}}</option>
                        <option value="Extendido">{{'newoApp9MicroApp.EstadoReservad.Extendido' | translate}}</option>
                        <option value="Cerrado">{{'newoApp9MicroApp.EstadoReservad.Cerrado' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.reservas.miembro" for="field_miembro">Miembro</label>
                    <select class="form-control" id="field_miembro" name="miembro" formControlName="miembroId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.reservas.espacio" for="field_espacio">Espacio</label>
                    <select class="form-control" id="field_espacio" name="espacio" formControlName="espacioId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="espaciosReservaOption.id" *ngFor="let espaciosReservaOption of espaciosreservas; trackBy: trackEspaciosReservaById">{{espaciosReservaOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
