<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservas">
            <h2><span jhiTranslate="newoApp9MicroApp.reservas.detail.title">Reservas</span> {{reservas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp9MicroApp.reservas.registroFechaEntrada">Registro Fecha Entrada</span></dt>
                <dd>
                    <span>{{reservas.registroFechaEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.reservas.registroFechaSalida">Registro Fecha Salida</span></dt>
                <dd>
                    <span>{{reservas.registroFechaSalida}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.reservas.estadoReserva">Estado Reserva</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp9MicroApp.EstadoReservad.' + reservas.estadoReserva}}">{{reservas.estadoReserva}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.reservas.miembro">Miembro</span></dt>
                <dd>
                    {{reservas.miembroLogin}}
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.reservas.espacio">Espacio</span></dt>
                <dd>
                    <div *ngIf="reservas.espacioId">
                        <a [routerLink]="['/espacios-reserva', reservas.espacioId, 'view']">{{reservas.espacioNombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservas', reservas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
