<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-blog-heading" jhiTranslate="newoApp9MicroApp.blog.home.createOrEditLabel">Create or edit a Blog</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                    <div *ngIf="editForm.get('titulo').invalid && (editForm.get('titulo').dirty || editForm.get('titulo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                    <div *ngIf="editForm.get('descripcion').invalid && (editForm.get('descripcion').dirty || editForm.get('descripcion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descripcion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.tipoContenido" for="field_tipoContenido">Tipo Contenido</label>
                    <select class="form-control" name="tipoContenido" formControlName="tipoContenido" id="field_tipoContenido">
                        <option value="GENERAL">{{'newoApp9MicroApp.Categoriad.GENERAL' | translate}}</option>
                        <option value="DE_GRUPO">{{'newoApp9MicroApp.Categoriad.DE_GRUPO' | translate}}</option>
                        <option value="CORPORATIVO">{{'newoApp9MicroApp.Categoriad.CORPORATIVO' | translate}}</option>
                        <option value="INSTITUCIONAL">{{'newoApp9MicroApp.Categoriad.INSTITUCIONAL' | translate}}</option>
                        <option value="INTERNO">{{'newoApp9MicroApp.Categoriad.INTERNO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.contenido" for="field_contenido">Contenido</label>
                    <textarea class="form-control" name="contenido" id="field_contenido"
                              formControlName="contenido"></textarea>
                    <div *ngIf="editForm.get('contenido').invalid && (editForm.get('contenido').dirty || editForm.get('contenido').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contenido').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.audio" for="field_audio">Audio</label>
                    <div>
                        <div *ngIf="editForm.get('audio').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('audioContentType').value, editForm.get('audio').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('audioContentType').value}}, {{byteSize(editForm.get('audio').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({audio: null});editForm.patchValue({audioContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_audio" (change)="setFileData($event, 'audio', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="audio" id="field_audio"
                           formControlName="audio"/>
                    <input type="hidden" class="form-control" name="audioContentType" id="field_audioContentType"
                           formControlName="audioContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.video" for="field_video">Video</label>
                    <div>
                        <div *ngIf="editForm.get('video').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('videoContentType').value, editForm.get('video').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('videoContentType').value}}, {{byteSize(editForm.get('video').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({video: null});editForm.patchValue({videoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_video" (change)="setFileData($event, 'video', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="video" id="field_video"
                           formControlName="video"/>
                    <input type="hidden" class="form-control" name="videoContentType" id="field_videoContentType"
                           formControlName="videoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.imagen1" for="field_imagen1">Imagen 1</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen1ContentType').value + ';base64,' + editForm.get('imagen1').value" style="max-height: 100px;" *ngIf="editForm.get('imagen1').value" alt="blog image"/>
                        <div *ngIf="editForm.get('imagen1').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen1ContentType').value}}, {{byteSize(editForm.get('imagen1').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen1', 'imagen1ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen1" (change)="setFileData($event, 'imagen1', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen1" id="field_imagen1"
                           formControlName="imagen1"/>
                    <input type="hidden" class="form-control" name="imagen1ContentType" id="field_imagen1ContentType"
                           formControlName="imagen1ContentType" />
                    <div *ngIf="editForm.get('imagen1').invalid && (editForm.get('imagen1').dirty || editForm.get('imagen1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imagen1').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.imagen2" for="field_imagen2">Imagen 2</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagen2ContentType').value + ';base64,' + editForm.get('imagen2').value" style="max-height: 100px;" *ngIf="editForm.get('imagen2').value" alt="blog image"/>
                        <div *ngIf="editForm.get('imagen2').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagen2ContentType').value}}, {{byteSize(editForm.get('imagen2').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagen2', 'imagen2ContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen2" (change)="setFileData($event, 'imagen2', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen2" id="field_imagen2"
                           formControlName="imagen2"/>
                    <input type="hidden" class="form-control" name="imagen2ContentType" id="field_imagen2ContentType"
                           formControlName="imagen2ContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.banner" for="field_banner">Banner</label>
                    <div>
                        <img [src]="'data:' + editForm.get('bannerContentType').value + ';base64,' + editForm.get('banner').value" style="max-height: 100px;" *ngIf="editForm.get('banner').value" alt="blog image"/>
                        <div *ngIf="editForm.get('banner').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('bannerContentType').value}}, {{byteSize(editForm.get('banner').value)}}</span>
                            <button type="button" (click)="clearInputImage('banner', 'bannerContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_banner" (change)="setFileData($event, 'banner', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="banner" id="field_banner"
                           formControlName="banner"/>
                    <input type="hidden" class="form-control" name="bannerContentType" id="field_bannerContentType"
                           formControlName="bannerContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.estadoPublicacion" for="field_estadoPublicacion">Estado Publicacion</label>
                    <select class="form-control" name="estadoPublicacion" formControlName="estadoPublicacion" id="field_estadoPublicacion">
                        <option value="BORRADOR">{{'newoApp9MicroApp.EstadoPublicaciond.BORRADOR' | translate}}</option>
                        <option value="EN_REVISION">{{'newoApp9MicroApp.EstadoPublicaciond.EN_REVISION' | translate}}</option>
                        <option value="APROBADO">{{'newoApp9MicroApp.EstadoPublicaciond.APROBADO' | translate}}</option>
                        <option value="PUBLICADO">{{'newoApp9MicroApp.EstadoPublicaciond.PUBLICADO' | translate}}</option>
                        <option value="RECHAZADO">{{'newoApp9MicroApp.EstadoPublicaciond.RECHAZADO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.tipoConsumo" for="field_tipoConsumo">Tipo Consumo</label>
                    <select class="form-control" name="tipoConsumo" formControlName="tipoConsumo" id="field_tipoConsumo">
                        <option value="GRATIS">{{'newoApp9MicroApp.TipoConsumod.GRATIS' | translate}}</option>
                        <option value="PAGO">{{'newoApp9MicroApp.TipoConsumod.PAGO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.impuesto" for="field_impuesto">Impuesto</label>
                    <select class="form-control" name="impuesto" formControlName="impuesto" id="field_impuesto">
                        <option value="IVA19">{{'newoApp9MicroApp.Impuestod.IVA19' | translate}}</option>
                        <option value="IVA6">{{'newoApp9MicroApp.Impuestod.IVA6' | translate}}</option>
                        <option value="IVA0">{{'newoApp9MicroApp.Impuestod.IVA0' | translate}}</option>
                        <option value="ICO">{{'newoApp9MicroApp.Impuestod.ICO' | translate}}</option>
                        <option value="IPOCONSUMO8">{{'newoApp9MicroApp.Impuestod.IPOCONSUMO8' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.categoriaBlog" for="field_categoriaBlog">Categoria Blog</label>
                    <select class="form-control" id="field_categoriaBlog" name="categoriaBlog" formControlName="categoriaBlogId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaContenidosOption.id" *ngFor="let categoriaContenidosOption of categoriacontenidos; trackBy: trackCategoriaContenidosById">{{categoriaContenidosOption.categoria}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.grupos" for="field_grupos">Grupos</label>
                    <select class="form-control" id="field_grupos" name="grupos" formControlName="gruposId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gruposOption.id" *ngFor="let gruposOption of grupos; trackBy: trackGruposById">{{gruposOption.nombreGrupo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp9MicroApp.blog.miembro" for="field_miembro">Miembro</label>
                    <select class="form-control" id="field_miembro" name="miembro" formControlName="miembroId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
