<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comentarioFeed">
            <h2><span jhiTranslate="newoApp9MicroApp.comentarioFeed.detail.title">Comentario Feed</span> {{comentarioFeed.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp9MicroApp.comentarioFeed.comentario">Comentario</span></dt>
                <dd>
                    <span>{{comentarioFeed.comentario}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.comentarioFeed.fecha">Fecha</span></dt>
                <dd>
                    <span>{{comentarioFeed.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.comentarioFeed.meGusta">Me Gusta</span></dt>
                <dd>
                    <span>{{comentarioFeed.meGusta}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.comentarioFeed.seguir">Seguir</span></dt>
                <dd>
                    <span>{{comentarioFeed.seguir}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.comentarioFeed.feed">Feed</span></dt>
                <dd>
                    <div *ngIf="comentarioFeed.feedId">
                        <a [routerLink]="['/feed', comentarioFeed.feedId, 'view']">{{comentarioFeed.feedTitulo}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.comentarioFeed.miembro">Miembro</span></dt>
                <dd>
                    {{comentarioFeed.miembroLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comentario-feed', comentarioFeed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
