<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entradaMiembros">
            <h2><span jhiTranslate="newoApp9MicroApp.entradaMiembros.detail.title">Entrada Miembros</span> {{entradaMiembros.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.registroFecha">Registro Fecha</span></dt>
                <dd>
                    <span>{{entradaMiembros.registroFecha}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.tipoEntrada">Tipo Entrada</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp9MicroApp.TipoEntradad.' + entradaMiembros.tipoEntrada}}">{{entradaMiembros.tipoEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.tipoIngreso">Tipo Ingreso</span></dt>
                <dd>
                    <span jhiTranslate="{{'newoApp9MicroApp.TipoIngresod.' + entradaMiembros.tipoIngreso}}">{{entradaMiembros.tipoIngreso}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.tiempoMaximo">Tiempo Maximo</span></dt>
                <dd>
                    <span>{{entradaMiembros.tiempoMaximo}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.miembro">Miembro</span></dt>
                <dd>
                    {{entradaMiembros.miembroLogin}}
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.espacio">Espacio</span></dt>
                <dd>
                    <div *ngIf="entradaMiembros.espacioId">
                        <a [routerLink]="['/espacio-libre', entradaMiembros.espacioId, 'view']">{{entradaMiembros.espacioNombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="newoApp9MicroApp.entradaMiembros.espacioReserva">Espacio Reserva</span></dt>
                <dd>
                    <div *ngIf="entradaMiembros.espacioReservaId">
                        <a [routerLink]="['/espacios-reserva', entradaMiembros.espacioReservaId, 'view']">{{entradaMiembros.espacioReservaNombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entrada-miembros', entradaMiembros.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
